<!DOCTYPE html>
<html>
    {{> head
        title=title
        description=description
    }}
    <body>
        {{> navbar work="true" }}
        
        <article>
            {{#if imgBase}}
                <div class="container container--fullbleed">
                    <div class="row row--fullbleed">
                        <div class="col-xs-12 col--fullbleed post__img-container">
                            <img class="post__img" sizes="100vw" srcset="{{imageStack imgBase imgExt}}" src="{{imgSrcBackup}}">
                        </div>
                    </div>
                </div>
            {{/if}}
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h1 class="post__title">{{title}}</h1>
                        
                        <aside class="post__aside">
                            <div class="post__aside-wrapper">
                                <span class="post__aside-label">{{asideLabel1}}</span>
                                <ul class="post__aside-ul">
                                    {{#each asideList1}}
                                        <li class="post__aside-ul-li">{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            
                            <div class="post__aside-wrapper">
                                <span class="post__aside-label">{{asideLabel2}}</span>
                                <ul class="post__aside-ul">
                                    {{#each asideList2}}
                                        <li class="post__aside-ul-li">{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-md-9 col-xl-7 post__body">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </article>
        
        {{> footer }}
    </body>
</html>
