<!DOCTYPE html>
<html lang="en">
    {{> head
        title=title
        description=description
    }}
    <body>
        {{> navbar section }}
        
        <article class="post">
            {{#if featureImgSrc}}
                <div class="container container--fullbleed">
                    <div class="row row--fullbleed">
                        <div class="col-xs-12 col--fullbleed post__feature-img-container" style="{{#if featureImgBgColor}}background-color: {{featureImgBgColor}};{{/if}}">
                            <div class="post__feature-img-bg" style="{{#if featureImgPosition}}background-position: {{featureImgPosition}};{{/if}}{{#if isFeatureImgIconSize}}background-size: 800px auto;{{/if}}"></div>
                            <img class="post__feature-img" {{#if featureImgBase}}sizes="{{#if isFeatureImgIconSize}}800px{{else}}100vw{{/if}}" srcset="{{imageStack featureImgBase featureImgExt}}"{{/if}} src="{{featureImgSrc}}" onload="zImgLoadedSwitchToBgImg(this)">
                        </div>
                    </div>
                </div>
            {{/if}}
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h1 class="post__title">{{title}}</h1>
                        
                        <aside class="post__aside">
                            {{#if asideLabel1}}
                                <div class="post__aside-wrapper">
                                    <span class="post__aside-label">{{asideLabel1}}</span>
                                    <ul class="post__aside-ul">
                                        {{#each asideList1}}
                                            <li class="post__aside-ul-li">{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                            
                            {{#if asideLabel2}}
                                <div class="post__aside-wrapper">
                                    <span class="post__aside-label">{{asideLabel2}}</span>
                                    <ul class="post__aside-ul">
                                        {{#each asideList2}}
                                            <li class="post__aside-ul-li">{{this}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                        </aside>
                    </div>
                    {{!-- If you update col widths, you need to update the img sizes attr in post-figure partials --}}
                    <div class="col-xs-12 col-md-9 col-xl-7 col-xxl-6 post__body post__markdown-section">
                        {{{body}}}
                    </div>
                    {{#if showSubscribe}}
                        <div class="col-xs-12 col-md-offset-3 col-md-9 col-xl-7 col-xxl-6">
                            {{> newsletter-subscribe }}
                        </div>
                    {{/if}}
                </div>
            </div>
        </article>
        
        {{> footer }}
    </body>
</html>
