<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Primary Meta Tags (from metatags.io) -->
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{description}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{url}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{#if metaImage}}{{url}}{{metaImage}}{{else}}http://westonthayer.com/assets/default-meta-img.jpg{{/if}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary{{#if metaImage}}_large_image{{/if}}">
    <meta property="twitter:url" content="{{url}}">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{description}}">
    <meta property="twitter:image" content="{{#if metaImage}}{{url}}{{metaImage}}{{else}}http://westonthayer.com/assets/default-meta-img.jpg{{/if}}">

    <link rel="alternate" type="application/rss+xml" title="Weston Thayer’s Blog" href="/writing/rss.xml">
    
    <!-- <link rel="stylesheet" href="/baseline-grid-16.css" media="(max-width: 767px)">
    <link rel="stylesheet" href="/baseline-grid-16.css" media="(min-width: 768px)"> -->
    
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Typekit Fonts -->
    <script>
      (function(d) {
        var config = {
          kitId: 'bbt3joi',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    
    <script>
        {{!--
        // JS is here because it MUST be present before the HTML rendered
        --}}
        
        window.zImgLoaded = function(img) {
            img.classList.add("imgloaded");
        };
        
        window.zImgLoadedSwitchToBgImg = function(img) {
            {{!--
            // currentSrc is supplied when srcset is supported in
            // the browser. If it doesn't exist, the <img> is using
            // it's real src value because that browser doesn't
            // support srcset
            --}}
            var src = img.currentSrc ? img.currentSrc : img.src;
            
            var p = img.previousElementSibling;
            p.style.backgroundImage = 'url("' + src + '")';
            p.classList.add("imgloaded");
        }
    </script>
    
    <link rel="icon" href="/assets/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/assets/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/assets/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="/assets/favicon-192.png" sizes="192x192" type="image/png">
</head>
