<a class="project-tile" href="{{href}}">
    {{#if imgBaseCrop}}
    <picture class="project-tile__picture" style="background-color: {{placeholderBackgroundColor}};">
        <source media="(min-width: 768px)" sizes="39.38vw" srcset="{{imageStack imgBaseFull imgExt}}">
        <img class="project-tile__img" sizes="92vw" srcset="{{imageStack imgBaseCrop imgExt}}" src="{{imgSrcBackup}}">
    </picture>
    {{else}}
        <div class="project-tile__picture" style="background-color: {{placeholderBackgroundColor}};">
            <img class="project-tile__img" sizes="100vw" srcset="{{imageStack imgBaseFull imgExt}}" src="{{imgSrcBackup}}">
        </div>
    {{/if}}
    <p class="project-tile__label" style="color: {{color}};">
        <span class="project-tile__label1">{{line1}}</span>
        <span class="project-tile__label2">{{line2}}</span>
    </p>
</a>
